<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Patient create</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous"></head>

</head>
<body>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Hospital</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="/doctors">Doctors</a>
            <a class="nav-item nav-link" href="/patients">Patients</a>
            <a class="nav-item nav-link" href="/appointments">Appointments</a>
        </div>
    </div>
</nav>

<h1>Patient create</h1>

<a th:href="@{'/patients'}">
    <button type="submit" name="submit" value="value" class="link-button">Back to patients</button>
</a>

<div th:if="${error}" class="alert alert-danger">
    <span th:text="${errorMsg}"></span>
</div>

<form action="/patients/create" method="post" th:object="${patient}">
    <input type="hidden" th:field="*{id}">
    <div>
        <label for="name">Patient name</label>
        <input type="text" id="name" name="name" class="form-control" th:field="*{name}">
    </div>
    <div>
        <label for="email">Patient email</label>
        <input type="text" id="email" name="email" class="form-control" th:field="*{emailAddress}">
    </div>
    <div>
        <label for="phoneNUmber">Patient phone number</label>
        <input type="text" id="phoneNUmber" name="phoneNUmber" class="form-control" th:field="*{phoneNumber}">
    </div>
    <div>
        <!-- https://stackoverflow.com/questions/51268935/set-thvalue-in-thymeleaf-date-input -->
        <label for="birthdate">Patient birthdate</label>
        <input type="date" id="birthdate" name="birthdate" class="form-control" th:field="*{birthdate}"
    </div>
    <input type="submit" class="btn btn-primary" value="Submit">
    <input type="reset" class="btn btn-secondary" value="Reset">
</form>

</body>
</html>